```env
# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.
#
# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.
#
# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------

# Use the production URL when deploying to production
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------

DATABASE_URL="postgres://YOUR_POSTGRESQL_URL"

# -----------------------------------------------------------------------------
# Better Auth
# -----------------------------------------------------------------------------

# Generate a secure random secret:
# openssl rand -base64 32
BETTER_AUTH_SECRET="your-super-secure-secret"

# Your application URL
# Development: http://localhost:3000
# Production: https://deeliciousbakes.co.uk
BETTER_AUTH_URL="http://localhost:3000"

# Optional default admin account
ADMIN_EMAIL="admin@deeliciousbakes.co.uk"

TRUSTED_ORIGINS="http://localhost:3000","https://deeliciousbakes.co.uk","https://www.deeliciousbakes.co.uk"

# -----------------------------------------------------------------------------
# React Email (Resend)
# -----------------------------------------------------------------------------

# Resend API Key found at:
# https://resend.com/api-keys
RESEND_API_KEY="re_"

# Register a domain at:
# https://resend.com/domains
#
# For testing only:
# onboarding@resend.dev
EMAIL_FROM_ADDRESS="hello@deeliciousbakes.co.uk"

# Audience ID for your Resend account, found at:
# https://resend.com/audiences
RESEND_AUDIENCE_ID="your-resend-audience-id"

RESEND_WEBHOOK_SECRET="your-resend-webhook-secret"

# -----------------------------------------------------------------------------
# UploadThing
# -----------------------------------------------------------------------------

UPLOADTHING_TOKEN='your-uploadthing-token'

# -----------------------------------------------------------------------------
# Upstash Redis
# -----------------------------------------------------------------------------

UPSTASH_REDIS_REST_URL="https://YOUR_UPSTASH_REDIS_REST_URL"
UPSTASH_REDIS_REST_TOKEN="YOUR_UPSTASH_REDIS_REST_TOKEN"

# -----------------------------------------------------------------------------
# Stripe
# -----------------------------------------------------------------------------

# Stripe Publishable Key and Secret Key:
# https://dashboard.stripe.com/apikeys

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_"
STRIPE_SECRET_KEY="sk_test_"

# -----------------------------------------------------------------------------
# Stripe Webhooks
# -----------------------------------------------------------------------------

# Local development:
# https://dashboard.stripe.com/test/webhooks

# Production:
# Replace with the webhook secret from your live endpoint
STRIPE_WEBHOOK_SECRET="whsec_"

# -----------------------------------------------------------------------------
## Umami Analytics
# -----------------------------------------------------------------------------

# Umami Website ID:
# https://umami.is/docs/self-hosted/installation
NEXT_PUBLIC_UMAMI_WEBSITE_ID="YOUR_UMAMI_WEBSITE_ID"

# -----------------------------------------------------------------------------
## Trigger.dev
# -----------------------------------------------------------------------------

# Trigger.dev Secret Key found in your dashboard:
# https://cloud.trigger.dev
TRIGGER_SECRET_KEY="tr_"

# -----------------------------------------------------------------------------
## Sentry
# -----------------------------------------------------------------------------

# Sentry Auth Token for uploading source maps:
# https://sentry.io/settings/account/api/auth-tokens/
SENTRY_AUTH_TOKEN="sntryu_"